<?xml version='1.0'?>
<model>
  <name>Test Robot</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Lars Pfotzer</name>
    <email>pfotzer@fzi.de</email>
  </author>

  <description>
    Robot model for testing the generic joint controller plugin
  </description>
</model>
