<?xml version="1.0"?>

<model>
  <name>Wheel_less_Snake</name>
  <version>1.0</version>
  <sdf version="1.6">sdf/model.sdf</sdf>

  <author>
    <name>Zhuangyi Jiang</name>
    <email>jiangz@in.tum.de</email>
  </author>

  <description>
    A wheel-less snake.
  </description>
</model>
